@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.categories_faq{
  width:30%;
  float: left;
  margin-right: 20px;
}
.form_content_faq{
  width: 67%;
  float: left;
}

.button-ask-question {
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  border: none;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #2fb5d2;
  color: #fff;
}

.button-ask-question:hover {
  opacity: 0.8;
  background-color: #2fb5d2;
  color: #fff;
}

.tableOption i{
  cursor: pointer;
}
.url_faq_page{
  text-transform: none;
  margin-left: 20px;
}
.url_faq_title{
  text-transform: none;
  font-weight: normal;
}
#left_column{
  /*display: none;*/
}
.left_column_faq{
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  float: left;
}
#center_column_fag{
  /*float: left;*/
  /*margin-left: 10px;*/
  margin-bottom: 40px;
}
.title_home_page_fag, .title_category_page, .title_faq_page {
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
#center_column{
  /* width: 100%; */
}

.topic_faqs .category_block{
  width: 50%;
  min-height: 100px;
  max-height: 100%;
  float: left;
  margin-top: 10px;
}

.topic_faqs .category_block.odd {
  padding-right: 30px;
}

.topic_faqs .category_block.last_category_block {
  min-height: inherit;
}

.category_name_home_page{
  font-size: 18px;
  display: block;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.category_name_home_page:hover {
  text-decoration: underline;
  opacity: 0.8;
}

#search_faqs_container {
  width: 100%;
  background-color: #2fb5d2;
  height: auto;
  padding: 40px;
}

#search_faqs_container.ps-16 {
  float: left;
  margin-bottom: 5px;
}

#search_faqs_content {
  position: relative;
  margin: auto;
}

#search_faqs_title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 2;
  font-weight: 400;
  word-break: break-word;
  margin-top: 0;
}

#search_faqs_title a, #search_faqs_title a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

#search_faqs_input_group {
  max-width: 600px;
  height: 40px;
  margin: auto;
}

#search_faqs_input {
  width: 80%;
  height: 100%;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border: none !important;
  background: #ffffff;
  box-shadow: none;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search-faqs-input-focused {
  box-shadow: 1px 0 5px 0 grey !important;
}

#search_faqs_submit_button {
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  background-color: #434345;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  cursor: pointer;
  border:  none;
}

#search_faqs_submit_button:hover {
  opacity: 0.8;
}

#search_faqs_submit_button_icon i {
  color: #fff;
}

.icon_fag{
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  font-size: 11px;
  display: none;
}

.icon_fag i:hover{
  font-weight: bold !important;
}

.questions {
  position: relative;
}

.content_home_page_fag .questions, .content_home_page_cat .questions, .faq_cat .questions, .gomakoil_faq_page .questions {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.questions:hover {
  color: #000;
}

.questions .m-arrow-point-to-right , .questions .m-external-link-symbol{
  float: right;
  padding: 1px;
  margin-left: 10px;
}

.questions .left-side-icon {
  margin-right: 1%;
}

.m-link-2 {
  font-size: 26px;
  float: right;
  color: #2fb5d2;
}

.gomakoil_faq_page{
  margin-bottom: 40px;
}

.gomakoil_faq_page .answer{
  font-size: 16px;
}

.answer_faq{
  border: 1px solid #dadada;
  padding: 25px;
  margin-top: 20px;
  box-sizing: border-box;
  line-height: 1.6;
  width: 100%;
  display: none;
  word-break: break-word;
  font-size: 16px;
}
.gomakoil_faq_page .questions.active .m-arrow-point-to-right{
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 0.5s;
}
.gomakoil_faq_page .questions .m-arrow-point-to-right{
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s;
}

.more_faq_cat{
  text-decoration: underline;
  font-weight: 900;
  font-size: 16px;
}

.more_faq_cat:hover{
  opacity: 0.8;
  text-decoration: underline;
}
.content_home_page_cat{
  position: relative;
}
.left_column_faq{
  display: block !important;
}
.no_questions{
  text-align: center;
  font-size: 25px;
  border: 1px solid red;
  background: #f54646;
  padding: 36px;
  height: 100px;
  opacity: 0.8;
  color: black;
}

.categories-tree-faqs span, .tree.categories-tree-faqs label, .tree.categories-tree-faqs i{
  cursor: pointer !important;
}
.icon-AdminFaqs:before{
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  background: url("../../logo.png");
}
.block_faq_product_page{
  padding-left: 0 !important;
}
.block_faq_product_page a{
  text-decoration: none !important;
}


.answer_faq{
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.block-faq-left-column {
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 1.5625rem 1.25rem;
  margin-bottom: 1.5625rem;
}

.block-faq-left-column, .block-faq-left-column-16 {
  word-break: break-word;
}

.block-faq-left-column a, .block-faq-left-column-16 a{
  font-size: 17px;
  color: #555555 !important;
  width: 100%;
  display: inline-block;
  margin: 0.8rem 0 0;
  padding-bottom: 0.1875rem;
}

.block-faq-left-column a:hover, .block-faq-left-column-16 a:hover{
  color: #000;
}

.block-faq-left-column-16.block .list-block li a:hover {
  font-weight: normal;
  color: #000;
}

.block-faq-left-column-16.block .list-block li a:before {
  content: "";
  display: none;
}

.block-faq-left-column-16.block .list-block li a i {
  display: inline;
}

.faqs-category-name {
  display: inline-block;
  max-width: 85%;
}

.faqs-num-items-in-category {
  float: right;
  max-width: 85%;
  font-weight: 900;
  color: #2fb5d2;
}

.page-product-box.gomakoil_faq_page{
  margin-bottom: 0 !important;
}

.block-faq-product-page{
  max-width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}

#module-faqs-display #wrapper{
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  word-break: break-word;
}

.block-faq-left-column, .association_faqs {
  word-break: break-word;
}

.faqs-card-block {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  padding: 1.25rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

#module-faqs-display #content, #module-faqs-display .columns-container .row{
  box-shadow: none;
  background-color: transparent;
  border: none;
  color: #555555;
  padding: 0;
  word-break: break-word;
}

#module-faqs-display #content a, #module-faqs-display .columns-container .row a {
  color: #2fb5d2;
}

#module-faqs-display #wrapper .breadcrumb {
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0;
}

#lipsum p {
  line-height: 1.5;
  font-size: 16px;
}

.user-assoc-popup {
  width: 160px;
  height: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  left: -175px;
  top: -40px;
  font-size: 14px;
  padding: 10px;
  box-shadow: 1px 1px 5px -2px #555;
  display: none;
}

.user-assoc-popup.display-right {
  left: 30px;
}

.user-assoc-popup::before, .user-assoc-popup::after {
  bottom: auto;
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.user-assoc-popup::before {
  top: 41px;
  right: -14px;
  left: auto;
  border-width: 14px 0 0 14px;
  border-color: transparent #ddd;
}

.user-assoc-popup::after {
  top: 42px;
  right: -12px;
  left: auto;
  border-width: 12px 0 0 12px;
  border-color: transparent #fff;
}

.user-assoc-popup.display-right::before {
  right: auto;
  left: -14px;
  border-width: 14px 14px 0 0 ;
}

.user-assoc-popup.display-right::after {
  right: auto;
  left: -12px;
  border-width: 12px 12px 0 0;
}


@media screen and (max-width: 768px) {
  .topic_faqs .category_block {
    width: 100%;
    padding: 10px;
    float: none;
    min-height: inherit;
  }

  .topic_faqs .category_block.odd {
    padding: 10px;
  }

  #module-faqs-display .container,
  #module-faqs-display #left_column,
  #module-faqs-display #content-wrapper {
    max-width: 100% !important;
    width: 100% !important;
  }

  #module-faqs-display .col-sm-3,
  #module-faqs-display .col-xs-12 {
    max-width: 100% !important;
    width: 100% !important;
  }
  
  #module-faqs-display #wrapper {
    padding-top: 15px;
  }

  #search_faqs_container {
    margin-top: 12px;
  }
}

@media screen and (max-width: 425px) {
  #search_faqs_submit_button {
    padding: 0;
  }
  #search_faqs_title {
    display: none;
  }
}

#mpm_faqs_form_submit_button.disabled-submit-btn,
#mpm_faqs_form_submit_button.disabled-submit-btn:hover{
  background: #e0e9ea !important;
  color: #fff !important;
  cursor: not-allowed;
}

#mpm_faqs_form_container #consent_checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#mpm_faqs_form_container #consent_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
#mpm_faqs_form_container #consent_checkbox_container .custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #c1c2d1;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
#mpm_faqs_form_container #consent_checkbox_container input:checked ~ .custom-checkbox {
  background-color: #2fb5d2;
}

/* Create the checkmark/indicator (hidden when not checked) */
#mpm_faqs_form_container .custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#mpm_faqs_form_container #consent_checkbox_container input:checked ~ .custom-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
#mpm_faqs_form_container #consent_checkbox_container .custom-checkbox:after {
  left: 4px;
  top: 1px;
  width: 7px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gomakoil_faq_page .answer_faq ul,
.gomakoil_faq_page .answer ul{
  padding-inline-start: 40px;
  list-style-type: disc;
}
.gomakoil_faq_page .answer_faq ol,
.gomakoil_faq_page .answer ol{
  padding-inline-start: 40px;
  list-style-type: decimal;
}