@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#mpm_faqs_form_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11111111;
  background-color: #000000;
  opacity: 0.7;
  display: none;
}

#mpm_faqs_form_container {
  left: 50%;
  position: absolute;
  background-color: #ffffff;
  z-index: 11111112;
  width: 500px;
  margin-left: -250px;
  font-family: Open Sans, sans-serif;
  border-radius: 6px 6px 4px 4px;
  word-break: break-word;
  display: none;
}

#mpm_faqs_form_container header {
  height: 150px;
  background-color: #2fb5d2;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
  padding: 0;
}

#mpm_faqs_form_header_addon {
  content: "";
  width: 0;
  height: 0px;
  z-index: 123;
  top: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #2fb5d2;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: auto;
}

#mpm_faqs_form_close_button {
  font-size: 14px;
  padding: 10px;
  float: right;
  cursor: pointer;
}

#mpm_faqs_form_close_button:hover {
  opacity: 0.5;
}

#mpm_faqs_form_header_content {
  text-align: center;
  word-break: break-word;
  padding: 25px;
  max-height: 100%;
}

#mpm_faqs_form_header_content i {
  font-size: 60px;
}

#mpm_faqs_form_container.ps-16 #mpm_faqs_form_header_content h1{
  line-height: 1;
}

#mpm_faqs_form_header_content h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
  color: #fff;
}

#mpm_faqs_form_container main {
  padding: 15px 50px 5px 50px;
}

#mpm_faqs_form_container footer {
  padding: 15px;
}

#mpm_faqs_form_sub_title {
  font-size: 16px;
  font-weight: 100;
  padding: 25px;
  text-align: center;
  line-height: 2;
}


/***********************************
  Input Fields
 ***********************************/

#mpm_faqs_form_content .form-group {
  color: #c1c2d1;
}

#mpm_faqs_form_content .form-group input[type="text"],
#mpm_faqs_form_content .form-group input[type="select"],
#mpm_faqs_select_wrapper .content {
  height: 40px;
  max-height: 40px;
}

#mpm_faqs_form_content .form-group select {
  padding-bottom: 5px;
}

#mpm_faqs_form_content .form-group textarea {
  height: 125px;
  max-height: 125px;
  border: 1px solid #c1c2d1;
  border-radius: 3px;
  padding: 15px;
  outline: none;
  resize: none;
}

#mpm_faqs_form_content .input-group-addon {
  color: #c1c2d1;
  border-color: #c1c2d1;
  background-color: #fafafa;
  border-radius: 3px 0 0 3px;
}

#mpm_faqs_form_content .form-control {
  padding-left: 0;
  border: 1px solid #c1c2d1;
  border-radius: 0 3px 3px 0;
  border-left: none;
  box-shadow: none !important;
  outline: none !important;
  transition: unset !important;
  color: #232323;
  background-color: #fafafa;
}

#mpm_faqs_form_content .input-group {
  width: 100%;
}

#mpm_faqs_form_content .input-group-addon .input-group-addon-inner {
  border-right: 1px solid;
  padding-right: 10px;
}

.captcha_res {
  position: static !important;
  padding-left: 15px !important;
}

#captcha_res_form_group .input-group-addon {
  padding: 0;
  width: 130px;
}

#captcha_res_form_group .input-group-addon img {
  height: 36px;
  max-height: 36px;
  width: 130px;
}

/***********************************
  Focused Input
 ***********************************/

#mpm_faqs_form_content .mpm-faqs-focused-input .form-control {
  border-color: #2fb5d2 !important;
  background-color: #ffffff !important;
}

#mpm_faqs_form_content .mpm-faqs-focused-input .content,
#mpm_faqs_form_content .mpm-faqs-focused-input .content .list {
  border-color: #2fb5d2 !important;
  background-color: #ffffff !important;
}

#mpm_faqs_form_content .mpm-faqs-focused-input .content:after {
  color: #2fb5d2 !important;
  content: "\e9d2";
}

#mpm_faqs_form_content .mpm-faqs-focused-input .content .list span {
  background-color: #ffffff;
}

#mpm_faqs_form_content .mpm-faqs-focused-input .input-group-addon {
  border-color: #2fb5d2;
  background-color: #ffffff;
  color: #2fb5d2;
}

/***********************************
  Placeholder
 ***********************************/

#mpm_faqs_form_content .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #c1c2d1;
}
#mpm_faqs_form_content .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c1c2d1;
  opacity:  1;
}
#mpm_faqs_form_content .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c1c2d1;
  opacity:  1;
}
#mpm_faqs_form_content .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c1c2d1;
}
#mpm_faqs_form_content .form-control:-ms-input-placeholder { /* Microsoft Edge */
  color: #c1c2d1;
}

/***********************************
  Form Buttons
 ***********************************/

.mpm-faqs-form-button {
  cursor: pointer;
  width: 250px;
  height: 40px;
  background-color: #2fb5d2;
  color: #ffffff;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
}

.mpm-faqs-form-button:hover {
  opacity: 0.8;
}

.mpm-faqs-form-button-block {
  text-align: center;
}

/***********************************
  ValidationError
 ***********************************/

#mpm_faqs_form_content .mpm-faqs-validation-error .form-control {
  border: 1px solid #ff6159;
  background-color: #ffffff;
}

#mpm_faqs_form_content .mpm-faqs-validation-error input.form-control {
  border-left: none;
}

#mpm_faqs_form_content .mpm-faqs-validation-error .input-group-addon {
  border: 1px solid #ff6159;
  border-right: none;
  color: #ff6159;
  background-color: #ffffff;
}

#mpm_faqs_form_content .mpm-faqs-validation-error#captcha_res_form_group .input-group-addon {
  border-right: none !important;
}

#mpm_faqs_form_content .mpm-faqs-validation-error .mpm-faqs-form-validation-message,
#mpm_faqs_form_content .mpm-faqs-validation-error .mpm-faqs-form-input-info-sign {
  display: block;
}

.mpm-faqs-form-input-info-sign {
  display: none;
  color: #ff6159;
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 10;
  font-size: 14px;
}

.mpm-faqs-form-validation-message {
  float: right;
  border-radius: 1px;
  background: #ff6159;
  color: #ffffff;
  padding: 1px;
  font-size: 13px;
  display: none;
  position: relative;
  top: 1px;
}



/*!***********************************
  Select
 ***********************************!*/

#mpm_faqs_select_wrapper {
  padding: 0 !important;
  height: auto;
}

#mpm_faqs_select_wrapper select{
  display: none !important;
  width: 350px;
}

#mpm_faqs_select_wrapper .content{
  background: #fafafa;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  border-radius: 0 3px 3px 0;
  border-left: none;
  color: #c1c2d1;
}

#mpm_faqs_select_wrapper .content:after {
  content: "\e9cc";
  font-family: "myprestamodules-font" !important;
  vertical-align: 0;
  font-weight: normal;
  font-size: 11px;
  color: #c1c2d1;
  margin: 0 0 0 9px;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 8px;
}


#mpm_faqs_select_wrapper .content .selected{
  padding: 9px 15px 11px 0;
  display: block;
}

#mpm_faqs_select_wrapper .content .list{
  display: none;
  position: absolute;
  right: -1px;
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid #c1c2d1;
}

#mpm_faqs_select_wrapper .content .list span{
  display: block;
  background: #fafafa;
  font: 300 16px Open Sans;
  color: #555555;
  height: auto;
  padding: 7px 0 7px 20px;
}

#mpm_faqs_select_wrapper .content .list span:hover{
  background: #2fb5d2;
  color: #ffffff;
}

#mpm_faqs_select_wrapper .content .list span:last-child{
  border-radius: 0 0 3px 3px;
}

/*!***********************************
  Media
 ***********************************!*/

@media (max-width: 510px){
  #mpm_faqs_form_container {
    width: 450px;
    margin-left: -225px;
  }

  #mpm_faqs_form_container main {
    padding: 0 15px 10px 15px;
  }

  #mpm_faqs_form_sub_title {
    padding: 25px 0 20px 0;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 420px;
  }
}

@media (max-width: 460px){
  #mpm_faqs_form_container {
    width: 400px;
    margin-left: -200px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 370px;
  }
}

@media (max-width: 410px){
  #mpm_faqs_form_container {
    width: 350px;
    margin-left: -175px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 320px;
  }
}

@media (max-width: 360px){
  #mpm_faqs_form_container {
    width: 300px;
    margin-left: -150px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 270px;
  }
}

@media (max-width: 310px){
  #mpm_faqs_form_container {
    width: 250px;
    margin-left: -125px;
  }

  .mpm-faqs-form-button {
    width: 200px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 220px;
  }
}

@media (max-width: 260px){
  #mpm_faqs_form_container {
    width: 200px;
    margin-left: -100px;
  }

  .mpm-faqs-form-button {
    width: 150px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 170px;
  }
}

@media (max-width: 210px){
  #mpm_faqs_form_container {
    width: 160px;
    margin-left: -80px;
  }

  .mpm-faqs-form-button {
    width: 140px;
  }

  #mpm_faqs_select_wrapper .content .list {
    width: 130px;
  }
}




